/* DARK MODE */
        html {
            background-color: #181a1b !important;
        }

        html, body, input, textarea, select, button {
            background-color: #181a1b !important;
        }

        html, body, input, textarea, select, button, .table {
            border-color: #736b5e !important;
            color: #e8e6e3 !important;
        }

        table {
            border-color: #545b5e !important;
        }

        ::placeholder {
            color: #b2aba1 !important;
        }

        input:-webkit-autofill,
        textarea:-webkit-autofill,
        select:-webkit-autofill {
            background-color: #555b00 !important;
            color: #e8e6e3 !important;
        }

        ::-webkit-scrollbar {
            background-color: #202324 !important;
            color: #aba499 !important;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #454a4d !important;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #575e62 !important;
        }

        ::-webkit-scrollbar-thumb:active {
            background-color: #484e51 !important;
        }

        ::-webkit-scrollbar-corner {
            background-color: #181a1b !important;
        }

        * {
            scrollbar-color: #202324 #454a4d !important;
        }

        ::selection {
            background-color: #004daa !important;
            color: #e8e6e3 !important;
        }

        ::-moz-selection {
            background-color: #004daa !important;
            color: #e8e6e3 !important;
        }

        .dropdown-item, .dropdown-menu {
            color: #e8e6e3 !important;
            background-color: #454a4d !important;
        }

        .dropdown-item:focus, .dropdown-item:hover {
            color: var(--neon-border-color) !important;
            text-decoration: none !important;
            background-color: #202324 !important;
        }

        .table-striped tbody tr:nth-of-type(2n+1) {
            background-color: rgba(255,255,255,0.04) !important;
        }

        .table td, .table th {
            border-top: 1px solid var(--neon-border2-color);
        }

        .card {
            background-color: #181a1b !important;
            border: 1px solid rgba(0,0,0,.125);
                border-top-color: rgba(0, 0, 0, 0.125);
                border-right-color: rgba(0, 0, 0, 0.125);
                border-bottom-color: rgba(0, 0, 0, 0.125);
                border-left-color: rgba(0, 0, 0, 0.125);
            border-radius: .25rem;
        }

/* PAGE */
    html {
        position: relative;
        min-height: 100%;
    }
    footer {
        display:none;
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;
    }

    :root {
        /* Set neon colors */
        --neon-text-color: #f40;
        --neon-border-color: #08f;
        --neon-border2-color: #9c007d;
    }

/* BANNER */
    .banner {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 300px;
        background-image: url("../images/banner.png");
        background-position: center;
    }

    .banner h1 {
        font-size: 5rem;
        text-align: center;
        padding-top:100px;
    }

/* HEADINGS */
    
    h1 {
        /* NeonHeading by GeorgePark */
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        text-shadow:
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem rgb(65, 58, 58),
        0 0 2rem var(--neon-text-color),
        0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color),
        0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);  
        user-select: none;
    }
    
    h1::-moz-selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
    }

    h1::selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
    }

    h1:focus {
        outline: none;
    }

    .neonheading {
        position: relative;
        font-weight: 700;
        color: #fff;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-shadow: 0 0 0.15em #1da9cc;
        user-select: none;
        white-space: nowrap;
        filter: blur(0.007em);
    }

/* NAVBAR */
    .nav-link {
        font-size: 1.3rem;
    }

    .navbar#outline {
        border-radius: 0;
        border-top: 1px solid var(--neon-border2-color);
        border-bottom: 1px solid var(--neon-border2-color);
        border-right: 0;
        border-left:0;
        box-shadow:
            0 0 .2rem #fff, 
            0 0 1rem var(--neon-border2-color), 
            0 0 2rem var(--neon-border2-color);
    }

/* BORDER */
    #outline {
        border-style: ridge;
        border-radius: 0.4rem;
        box-shadow:
            0 0 .2rem #fff, 
            inset 0 0 .2rem #fff, 
            0 0 1rem var(--neon-border-color), 
            inset 0 0 1rem var(--neon-border-color), 
            0 0 2rem var(--neon-border-color), 
            inset 0 0 2rem var(--neon-border-color);
    }

    hr {
        padding: 0;
        border: 1px ridge var(--neon-border2-color);
        border-radius: 5px;
        box-shadow: 0 0 10px var(--neon-border2-color);
    }

/* RESPONSIVE SETTINGS */
    /* Extra large devices (large desktops, 1200px and up) */
    @media screen and (max-width: 1200px) {

    }

    /* Large devices (desktops, 992px and up) */
    @media screen and (max-width: 992px) {

    }

    /* Medium devices (tablets, 768px and up) */
    @media screen and (max-width: 768px) {
        h1 {
            font-size:63px !important;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media screen and (max-width: 576px) {
        h1 {
            font-size:38px !important;
        }
    }